* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Desktop */
@media screen and (min-width: 992px) {
  body {
    background-color: #263148;
  }

  header h1 {
    text-align: center;
    margin: 1rem auto;
    color: aqua;
    background-color: #263148;
  }

  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  #container-input {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #search-container {
    display: flex;
    flex-direction: row;
  }

  #measure-units {
    margin-top: 1rem;
  }

  #units {
    padding: 0.7rem 1rem;
    background-color: rgb(30, 30, 130);
    color: aliceblue;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .dropdown-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 66px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: rgb(30, 30, 130);
    color: #fff;
  }

  input {
    margin: 1rem;
    width: 100%;
    padding: 1rem;
  }

  #menu-wrapper {
    right: 0;
    left: auto;
    float: right;
    margin-bottom: 2rem;
  }

  #menu-wrapper h3 {
    color: aqua;
    margin: 1rem;
  }

  #menu li {
    list-style-type: none;
  }

  .menu-item {
    color: aliceblue;
    margin: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgb(30, 30, 130);
  }
  

  #result {
    position: relative;
    color: aliceblue;
    margin-left: 11%;
    width: 30%;
  }

  #result h3 {
    color: aqua;
    margin: 0 0 1rem 0;
  }

  #result p {
    display: block;
    width: 100%;
    position: absolute;
  }

  #bar {
    position: fixed;
    bottom: 3rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgb(227, 223, 223);
  }

  footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: gainsboro;
  }
}

/* Mobile */
@media screen and (max-width: 992px) {
}
